<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>helo</h1>
    <form action="/flights/<%= flight._id %>/tickets" method="POST">
        <label>Choose Seat:
            <input name="seat" required pattern="[A-F][1-9]\d?">
        </label> <br>
        <label>Enter Price:
            <input name="price" type="text" autocomplete="off">
        </label> <br>
        <input type="submit" value="Buy Ticket">
    </form>

</body>
</html>